frontend/index.jade
extend ./layout.jade
block vars
	- var title='Sou Mais Caxis'
	- var bodyClass = 'pg-home'
block content
	section#divulgue-o-seu-negocio
		.wrap
			h2 Divulgue o seu negócio
			p Maecenas est nisl, efficitur eu euismod sed, viverra at mi. Etiam nec velit vel orci sollicitudin faucibus. Suspendisse sed enim ultricies, tempus mi quis
			a(href="#",title="Registre-se",class="btn btn_2") Registre-se
	section#encontre-o-que-precisa
		.wrap.flex
			.flex50
				img(src="./assets/hands_app.png")
			.flex50
				h2 Encontre o que precisa
				p Maecenas est nisl, effi citur eu euismod sed, viverra at mi. Etiam nec velit vel orci sollicitudin faucibus. aliquet mauris. Suspendisse non aliquet nisl, in lacinia enim. Quisque eros enim, porta sit amet enim vel, venenatis fermentum elit. Maecenas dignissim mollis hendrerit.
	section#filter
		.wrap
			form
				span
					p Quero encontrar
				span
					input(type="text",placeholder="estabelecimentos")
				span
					input(type="text",placeholder="bairros")
				span
					button.btn.btn_3 buscar
	section#map
		#map-canvas
		script(src="https://maps.googleapis.com/maps/api/js?sensor=false")
		script.
			var berlin = new google.maps.LatLng(52.520816, 13.410186);
			var neighborhoods = [
			new google.maps.LatLng(52.511467, 13.447179),
			new google.maps.LatLng(52.549061, 13.422975),
			new google.maps.LatLng(52.497622, 13.396110),
			new google.maps.LatLng(52.517683, 13.394393)
			];
			var markers = [];
			var iterator = 0;
			var map;
			function initialize() {
			var mapOptions = {
			zoom: 12,
			center: berlin
			};
			map = new google.maps.Map(document.getElementById('map-canvas'),
			mapOptions);
			}
			function drop() {
			for (var i = 0; i < neighborhoods.length; i++) {
			setTimeout(function() {
			addMarker();
			}, i * 200);
			}
			}
			function addMarker() {
			markers.push(new google.maps.Marker({
			position: neighborhoods[iterator],
			map: map,
			draggable: false,
			animation: google.maps.Animation.DROP
			}));
			iterator++;
			}
			google.maps.event.addDomListener(window, 'load', initialize);		
	section#o-que-falam-por-ai
		.wrap
			h2 O que falam por aí
			p Pityful a rethoric question ran over her cheek, then she continued her way.
			ul#testimonials
				li
					div.testimonial
						.avatar(style="background-image:url(http://www.american.edu/uploads/profiles/large/chris_palmer_profile_11.jpg)")
						ul
							li 
								p Lorem Lipsum
							li
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum repudiandae blanditiis quia, enim soluta possimus?
							li
								span.quote "
				li
					div.testimonial
						.avatar(style="background-image:url(http://www.american.edu/uploads/profiles/large/chris_palmer_profile_11.jpg)")
						ul
							li 
								p Lorem Lipsum
							li
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum repudiandae blanditiis quia, enim soluta possimus?
							li
								span.quote "
				li
					div.testimonial
						.avatar(style="background-image:url(http://www.american.edu/uploads/profiles/large/chris_palmer_profile_11.jpg)")
						ul
							li 
								p Lorem Lipsum
							li
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum repudiandae blanditiis quia, enim soluta possimus?
							li
								span.quote "
	section#faca-parte
		.wrap
			h2 Faça Parte
			p Gostaria de falar com a gente? Entre em contato pelo e-mail <a href="mailto:contato@dominio.com.br">contato@dominio.com.br</a> ou <a href="#">registre-se</a> agora mesmo.
			a(href="#",title="Registre-se",class="btn btn_4") Registre-se

frontend/index.html
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" itemscope="itemscope" itemtype="http://schema.org/Organization" dir="ltr" lang="en-US" class="no-js">
  <head>
    <title>Sou Mais Caxis </title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta http-equiv="cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="expires" content="0"/>
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="apple-mobile-web-app-capable" content="yes"/>
    <meta http-equiv="HandheldFriendly" content="true"/>
    <meta name="audience" content="all"/>
    <meta name="keywords" content=" "/>
    <meta name="author" content="Wesley Andrade"/>
    <meta name="resource-type" content="Document"/>
    <meta name="distribution" content="Global"/>
    <meta name="robots" content="index, follow, ALL"/>
    <meta name="GOOGLEBOT" content="index, follow"/>
    <meta name="rating" content="General"/>
    <meta name="revisit-after" content="2 Days"/>
    <meta name="language" content="pt-br"/>
    <meta name="HandheldFriendly" content="true"/>
    <link rel="canonical" href=" "/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/flexslider.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/default.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link rel="apple-touch-icon" sizes="57x57" href="favicon-57.png"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript" src="http://flexslider.woothemes.com/js/jquery.flexslider.js"></script>
    <script href="js/modernizr.js" type="text/javascript" media="all"></script>
    <script href="js/selectivizr.js" type="text/javascript" media="all"></script>
    <script href="js/html5shiv.js" type="text/javascript" media="all"></script>
    <script href="js/html5shiv-printshiv.js" type="text/javascript" media="all"></script>
    <script>
      $(document).ready(function(){
      	$("[role='dropdown']").click(function() {
      		$(this).toggleClass("open");
      		$("#bairros").toggleClass("open");
      	});
      });
    </script>
  </head>
  <body class="pg-home">
    <div id="wrap">
      <header>
        <div id="bairros"><a href="#">Lorem ipsum.</a><a href="#">Lorem ipsum.</a><a href="#">Lorem ipsum.</a><a href="#">Lorem ipsum.</a><a href="#">Lorem ipsum.</a><a href="#">Lorem ipsum.</a><a href="#">Lorem ipsum.</a><a href="#">Lorem ipsum.</a><a href="#">Lorem ipsum.</a><a href="#">Lorem ipsum.</a><a href="#">Lorem ipsum.</a><a href="#">Lorem ipsum.</a><a href="#">Lorem ipsum.</a><a href="#">Lorem ipsum.</a><a href="#">Lorem ipsum.</a><a href="#">Lorem ipsum.</a><a href="#">Lorem ipsum.</a><a href="#">Lorem ipsum.</a><a href="#">Lorem ipsum.</a><a href="#">Lorem ipsum.</a><a href="#">Lorem ipsum.</a><a href="#">Lorem ipsum.</a><a href="#">Lorem ipsum.</a><a href="#">Lorem ipsum.</a><a href="#">Lorem ipsum.</a><a href="#">Lorem ipsum.</a><a href="#">Lorem ipsum.</a><a href="#">Lorem ipsum.</a><a href="#">Lorem ipsum.</a><a href="#">Lorem ipsum.</a></div>
        <div id="topo">
          <div class="wrap flex">
            <div class="flex40"><a href="javascript:void(0)" title="Bairro" role="dropdown">Bairro <i class="material-icons">&#xE313;</i></a></div>
            <div class="flex60">
              <nav><a href="#" title="Divulgue seu negócio">Divulgue seu negócio</a><a href="#" title="Faça parte">Faça parte</a><a href="#" title="Termos de uso &amp; Políticas de Privacidade">Termos de uso & Políticas de Privacidade</a></nav>
            </div>
          </div>
        </div>
        <div id="header">
          <div class="wrap">
            <div>
              <form>
                <div><span><a href="" title="Log In" class="btn btn_1">Log In</a>
                    <button><i class="material-icons">&#xE8B6;</i></button></span>
                  <p>Ainda não tem acesso? <a href="" title="Cadastre-se">Cadastre-se</a></p>
                </div>
              </form>
            </div>
            <div>
              <h1>Explore Duque de Caxias</h1>
              <p>São mais de <b>10.550</b> estabelecimentos cadastrados e <b>30.223</b> novos usuários. <a href="#"><b>Cadastre-se</b></a> grátis no <u>soumaiscaxias.com.br</u></p>
            </div>
          </div>
        </div>
      </header>
      <main>
        <section id="divulgue-o-seu-negocio">
          <div class="wrap">
            <h2>Divulgue o seu negócio</h2>
            <p>Maecenas est nisl, efficitur eu euismod sed, viverra at mi. Etiam nec velit vel orci sollicitudin faucibus. Suspendisse sed enim ultricies, tempus mi quis</p><a href="#" title="Registre-se" class="btn btn_2">Registre-se</a>
          </div>
        </section>
        <section id="encontre-o-que-precisa">
          <div class="wrap flex">
            <div class="flex50"><img src="./assets/hands_app.png"/></div>
            <div class="flex50">
              <h2>Encontre o que precisa</h2>
              <p>Maecenas est nisl, effi citur eu euismod sed, viverra at mi. Etiam nec velit vel orci sollicitudin faucibus. aliquet mauris. Suspendisse non aliquet nisl, in lacinia enim. Quisque eros enim, porta sit amet enim vel, venenatis fermentum elit. Maecenas dignissim mollis hendrerit.</p>
            </div>
          </div>
        </section>
        <section id="filter">
          <div class="wrap">
            <form><span>
                <p>Quero encontrar</p></span><span>
                <input type="text" placeholder="estabelecimentos"/></span><span>
                <input type="text" placeholder="bairros"/></span><span>
                <button class="btn btn_3">buscar</button></span></form>
          </div>
        </section>
        <section id="map">
          <div id="map-canvas"></div>
          <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
          <script>
            var berlin = new google.maps.LatLng(52.520816, 13.410186);
            var neighborhoods = [
            new google.maps.LatLng(52.511467, 13.447179),
            new google.maps.LatLng(52.549061, 13.422975),
            new google.maps.LatLng(52.497622, 13.396110),
            new google.maps.LatLng(52.517683, 13.394393)
            ];
            var markers = [];
            var iterator = 0;
            var map;
            function initialize() {
            var mapOptions = {
            zoom: 12,
            center: berlin
            };
            map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
            }
            function drop() {
            for (var i = 0; i < neighborhoods.length; i++) {
            setTimeout(function() {
            addMarker();
            }, i * 200);
            }
            }
            function addMarker() {
            markers.push(new google.maps.Marker({
            position: neighborhoods[iterator],
            map: map,
            draggable: false,
            animation: google.maps.Animation.DROP
            }));
            iterator++;
            }
            google.maps.event.addDomListener(window, 'load', initialize);
          </script>
        </section>
        <section id="o-que-falam-por-ai">
          <div class="wrap">
            <h2>O que falam por aí</h2>
            <p>Pityful a rethoric question ran over her cheek, then she continued her way.</p>
            <ul id="testimonials">
              <li>
                <div class="testimonial">
                  <div style="background-image:url(http://www.american.edu/uploads/profiles/large/chris_palmer_profile_11.jpg)" class="avatar"></div>
                  <ul>
                    <li>
                      <p>Lorem Lipsum</p>
                    </li>
                    <li>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum repudiandae blanditiis quia, enim soluta possimus?</p>
                    </li>
                    <li><span class="quote">"</span></li>
                  </ul>
                </div>
              </li>
              <li>
                <div class="testimonial">
                  <div style="background-image:url(http://www.american.edu/uploads/profiles/large/chris_palmer_profile_11.jpg)" class="avatar"></div>
                  <ul>
                    <li>
                      <p>Lorem Lipsum</p>
                    </li>
                    <li>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum repudiandae blanditiis quia, enim soluta possimus?</p>
                    </li>
                    <li><span class="quote">"</span></li>
                  </ul>
                </div>
              </li>
              <li>
                <div class="testimonial">
                  <div style="background-image:url(http://www.american.edu/uploads/profiles/large/chris_palmer_profile_11.jpg)" class="avatar"></div>
                  <ul>
                    <li>
                      <p>Lorem Lipsum</p>
                    </li>
                    <li>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum repudiandae blanditiis quia, enim soluta possimus?</p>
                    </li>
                    <li><span class="quote">"</span></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </section>
        <section id="faca-parte">
          <div class="wrap">
            <h2>Faça Parte</h2>
            <p>Gostaria de falar com a gente? Entre em contato pelo e-mail <a href="mailto:contato@dominio.com.br">contato@dominio.com.br</a> ou <a href="#">registre-se</a> agora mesmo.</p><a href="#" title="Registre-se" class="btn btn_4">Registre-se</a>
          </div>
        </section>
      </main>
      <footer>
        <div class="wrap">
          <nav><a href="#" title="Página Inicial">Página Inicial</a><a href="#" title="Divulgue o seu negócio">Divulgue o seu negócio</a><a href="#" title="Faça Parte">Faça Parte</a><a href="#" title="Termos de Uso &amp; Políticas de Privacidade">Termos de Uso & Políticas de Privacidade</a></nav>
          <p>© 2017 Sou Mais Caxias. O Sou Mais Caxias é o guia mais completo de endereços, telefones, locais, serviços e recomendações de Duque de Caxias! Com informações relevantes, o portal é a melhor plataforma para você explorar nossa cidade.</p>
        </div>
      </footer>
    </div>
  </body>
</html>
